<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenWaves" publicKeyToken="7d0a8c4a744cf5c7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.88.340" newVersion="1.0.88.340" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenWaves.Web" publicKeyToken="7d0a8c4a744cf5c7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.85.245" newVersion="1.0.85.245" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>