@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<img src="~/Content/Images/bigcat.JPG?width=1200&height=260&transform=fill" />
<img src="~/Content/Images/test1.jpg?width=1200&height=300&transform=fill" />