@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Original and Fill, Fit, Crop, Stretch, ResizeMin with width 100</h3>
<style>
    img {
        border: 1px solid red;
    }
</style>
<img src="~/Content/Images/small1.jpg"/>
<img src="~/Content/Images/bigcat.JPG"/>

<img src="~/Content/Images/small1.jpg?width=100&transform=fill" />
<img src="~/Content/Images/small1.jpg?width=100&transform=fit" />
<img src="~/Content/Images/small1.jpg?width=100&transform=crop" />
<img src="~/Content/Images/small1.jpg?width=100&transform=stretch"/>
<img src="~/Content/Images/bigcat.jpg?width=100&transform=resizemin" />
<img src="~/Content/Images/bigcat.jpg?width=100&height=200&transform=resizemin" />

<h3>Fill, Fit, Crop, Stretch, ResizeMin with width 600</h3>
<img src="~/Content/Images/small1.jpg?width=600&transform=fill" />
<img src="~/Content/Images/small1.jpg?width=600&transform=fit" />
<img src="~/Content/Images/small1.jpg?width=600&transform=crop" />
<img src="~/Content/Images/small1.jpg?width=600&transform=stretch"/>
<img src="~/Content/Images/bigcat.JPG?width=600&transform=resizemin" />
<img src="~/Content/Images/bigcat.JPG?width=600&height=300&transform=resizemin" />

<h3>Fill and Fit with custom image center (focus point) and 600x200 size</h3>
<img src="~/Content/Images/bigcat.JPG?transform=resizecrop&width=600&height=200&center=0.5,1" />
<img src="~/Content/Images/bigcat.JPG?transform=resizecrop&width=600&height=200&center=0.5,0" />

@*<h3>Fit with with 600</h3>
<img src="~/Content/Images/bigcat.JPG?width=600&transform=fit" />
<hr/>*@
@*<img src="~/Content/Images/bigcat.jpg?width=600&transform=fill" />*@
@*<hr/>
<img src="~/Content/Images/bigcat.JPG?width=100&transform=fit" />
<hr/>
<h3>Fill with with 200</h3>
<img src="~/Content/Images/bigcat.jpg?width=200&transform=fill" />
<hr/>
<img src="~/Content/Images/bigcat.jpg?width=100&transform=crop" />
<hr/>
<img src="~/Content/Images/bigcat.jpg?width=100&transform=stretch" />
<hr/>*@