<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=PC-MRO\SQLEXPRESS;Initial Catalog=dbRestImageResize.WebEPiPackageTest;Integrated Security=False;User ID=dbUserdbRestImageResize.WebEPiPackageTest;Password=8S86k72%80;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>