<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net40" />
  <package id="EPiServer.CMS.Core" version="7.6.0" targetFramework="net40" />
  <package id="EPiServer.Framework" version="7.6.0" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.0.7.300" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="OpenWaves" version="1.0.88.340" targetFramework="net40" />
  <package id="OpenWaves.ImageTransformations" version="1.0.85.251" targetFramework="net40" />
  <package id="OpenWaves.ImageTransformations.EPiServer" version="1.0.85.251" targetFramework="net40" />
  <package id="OpenWaves.ImageTransformations.Web" version="1.0.85.251" targetFramework="net40" />
  <package id="OpenWaves.Web" version="1.0.85.245" targetFramework="net40" />
  <package id="RestImageResize" version="1.1.9-beta8" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>