<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=PC-MRO\SQLEXPRESS;Initial Catalog=dbRestImageResize.WebEPiTest;Integrated Security=False;User ID=dbUserdbRestImageResize.WebEPiTest;Password=25r.1530W0;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>