<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenWaves" version="1.0.85.259" targetFramework="net40" />
  <package id="OpenWaves.ImageTransformations" version="1.0.85.251" targetFramework="net40" />
  <package id="OpenWaves.ImageTransformations.EPiServer" version="1.0.85.251" targetFramework="net40" />
  <package id="OpenWaves.ImageTransformations.Web" version="1.0.85.251" targetFramework="net40" />
  <package id="OpenWaves.Web" version="1.0.85.245" targetFramework="net40" />
</packages>